mixin results()
    ul.columns.is-multiline.is-mobile.is-centered.m1
        each duck in ducks
            div.column.is-3-desktop.is-3-tablet.is-10-mobile
                li.box
                    a(href=duck.url)
                        h2 #{duck.title}
                        img(src=duck.image)
                        span #{duck.price}
                    form(method="POST")
                        button(name='toggleFav' value=duck.id)
                            i(class=duck.isFav ? 'fas fa-heart' : 'far fa-heart')
